body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e68c; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container {
    text-align: center;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

h1 {
    font-size: 2.5em;
    color: #4a4a4a; 
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.start-button {
    background-color: #4a90e2;
    color: #fff; 
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #357ab8; 
}

.menu a {
    text-decoration: none;
    color: #4a90e2; 
    font-size: 1.2em;
}

.menu a:hover {
    text-decoration: underline; 
}

.img_fondo{
    background-image: url(Fondo_Espacio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}